<center>

    <section class="card w-100">


        <div class="card-header">
            <iframe
                src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&width=450&layout=standard&action=recommend&size=large&share=true&height=35&appId=2589928161224931"
                width="450" height="35" style="border:none;overflow:hidden;color: white;" scrolling="no" frameborder="0"
                allowTransparency="true" allow="encrypted-media"></iframe>
        </div>
        <image style="height: 168px; width: 168px; padding: 5px; border-radius: 50%; margin: auto;"
            src="https://scontent.fcmb9-1.fna.fbcdn.net/v/t1.0-1/p200x200/120454460_1024055541373870_3992506972723089161_o.jpg?_nc_cat=100&amp;_nc_sid=7206a8&amp;_nc_ohc=bemGyTfRb-4AX_yWZ3X&amp;_nc_ht=scontent.fcmb9-1.fna&amp;tp=6&amp;oh=31271090edef3d8a667198096e78554e&amp;oe=5FA59EFF">
        </image>
        <h5 class="card-title">Anuradhe Dilshan</h5>
        <p class="card-text">Hi Thanks for Coming</p>
        </div>
        <h5 class="card-title">Facebook page</h5>
        <iframe
            src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fanuradhe05&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=2589928161224931"
            width="350px" height="400px" style="border:none;overflow:hidden;margin: auto;" scrolling="no" frameborder="0"
            allowTransparency="true" allow="encrypted-media"></iframe>
    </section>
</center>